<div class = "main-content">

    <div class = "section-content section-content-p30">

        <div class = "container-fluid">

            <div class = "row">

                <!-- Loop Over A Collection Of Products -->

                <div *ngFor = "let temp of products" class = "col-md-3">

                    <div class = "product-box">

                        <a routerLink = "/products/{{ temp.productId }}">
                        <img src = "{{temp.imageUrl}}" class = "image-responsive">
                        </a>

                        <a routerLink = "/products/{{ temp.productId }}">
                        <h1>{{ temp.name }}</h1>
                        </a>

                        
                        <div class = "price">{{ temp.unitPrice | currency: 'INR' }}</div>
                        <a href = "#" class = "primary-btn">Add To Cart</a>

                    </div>

                </div>

                <!-- Checking Whether Products Is Empty Or Not -->
                <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                    No Products Found.
                </div>

            </div>

        </div>

    </div>

</div>